Package: libtool
Maintainer: Wilfredo Sanchez <wsanchez@apple.com>
Vendor: GNU Project
Version: 1.3.5
URL: ftp://ftp.gnu.org/pub/gnu/libtool
Build-Depends: build-base
Description: Shared library build tool
 Libtool hides the complexity of using shared libraries behind a
 consistent, portable interface.
